$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../../node_modules/font-awesome/fonts";
//
$brand-primary:         #337BB7 !default;
$brand-success:         #2BBE83 !default;
$brand-info:            #4442C2 !default;
$brand-warning:         #FFCF3A !default;
$brand-danger:          #FF753A !default;


@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import "../../node_modules/font-awesome/scss/font-awesome";


$font-family:'Roboto',arial,sans-serif;

$header-height: 1px;
$header-color: $brand-primary;
$header-text-color: $brand-danger;

$footer-height: 1px;
$footer-color: $brand-primary;
$footer-text-color: $brand-danger;

$soft-border-color: rgb(231, 231, 231);
$hard-border-color: rgba(100,100,100,0.5);
$soft-background-color: rgb(245, 245, 245);

$hard-background-color: rgba(100,100,100,.8);

$text-color: #333;

$bg-color: rgba(100,100,100,.1);


$filterBarHeight: 41px;
$playerDetailsHeight: 100px;
$playersListHeight: 50%;
$rosterHeight: 50%;

@mixin calc($property, $expression, $important:null) {
    #{$property}: -moz-calc(#{$expression}) $important;
    #{$property}: -o-calc(#{$expression}) $important;
    #{$property}: -webkit-calc(#{$expression}) $important;
    #{$property}: calc(#{$expression}) $important;
}
