$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../../node_modules/font-awesome/fonts";
//
//$brand-primary:         rgb(75,125,165) !default;
//$brand-success:         rgb(107,191,184) !default;
//$brand-info:            rgb(216,233,246) !default;
//$brand-warning:         rgb(235,173,40) !default;
//$brand-danger:          rgb(191,63,42) !default;

@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import "../../node_modules/font-awesome/scss/font-awesome";


$font-family:'Roboto',arial,sans-serif;

$header-height: 40px;
$header-color: $brand-primary;
$header-text-color: white;

$footer-height: 40px;
$footer-color: transparent;
$footer-text-color: black;

$soft-border-color: rgb(231, 231, 231);

$text-color: #333;

$bg-color: rgba(100,100,100,.1);

@mixin calc($property, $expression, $important:null) {
    #{$property}: -moz-calc(#{$expression}) $important;
    #{$property}: -o-calc(#{$expression}) $important;
    #{$property}: -webkit-calc(#{$expression}) $important;
    #{$property}: calc(#{$expression}) $important;
}
