@import './constants';


* {
    border-radius: 0 !important;
    font-family:$font-family;
}
.btn:focus {outline:0;}
.CodeMirror * {
    font-family: monospace !important;
}
a {
    cursor: pointer;
}

html, .fill-height {
    height: 100%;
}

body {
    height: 100%;
    color: $text-color;
}

td, th {
    padding: 2px !important;
    text-align: center !important;
}

#content {
    height: 100%;
}


#header {
    background-color: $header-color;
    border: thin solid $soft-border-color;
    color: $header-text-color;
    height: $header-height;
    font-size: 18px;
    line-height: 35px;
    padding: 2px 5px;
}

#footer {
    position: absolute;
    bottom: 0;
    background-color: $footer-color;
    border: thin solid $soft-border-color;
    color: $footer-text-color;
    height: $footer-height;
    font-size: 12px;
    line-height: 35px;
    padding: 2px 5px;
    width: 100%;
    text-align: right;
}

#main-content {
    @include calc(height, unquote("100% - #{$header-height} - #{$footer-height}"));
    overflow: hidden;
}

.create {
    overflow-y: scroll;
    .create-body {
        margin: 0 auto;
        padding: 30px 20px;
        width: 600px;
        background-color: $bg-color;
    }
}

.draft {
    .left-side {
        overflow: hidden;
        padding-right: 0;
    }
    .right-side {
        overflow: hidden;
        padding-left: 0;
    }
}

.round-label {
    text-align: right;
    padding-right: 6px;
}

.teams-list {
    border-left: solid thin $soft-border-color;
    overflow: scroll;
    @include calc(height, unquote("100% - 40px"));

    .panel {
        margin: 0;
        .panel-heading {
            padding: 0;
            h4 {
                padding-left: 6px;
                padding-top: 3px;
                margin: 1px;
            }
        }
        .panel-body {
            padding: 0;
        }
    }

    .teams-list-item {
        border: solid thin $hard-border-color;
        @extend .panel;


        .label {
            width: 100px;
            @extend .pull-right;
        }
        .col-xs-2 {
            padding: 0;
            .panel {
                text-align: center;
            }
        }
    }
    .teams-list-item.droppable {
        border: solid thin $brand-primary;
    }
}

.filter-bar {
    height: $filterBarHeight;
    border: solid thin $soft-border-color;

    input {
        font-size: 18px;
        height:40px;
    }
}

.player-details {
    height: $playerDetailsHeight;
    border: solid thin $soft-border-color;
    overflow: hidden;
    .col-xs-4 {
        padding: 0;
    }
    .panel {
        margin: 0;
        text-align: center;
        .panel-body {
            font-weight: bold;
        }
    }
}


.players-list {
    @include calc(height, unquote("#{$playersListHeight} - #{$playerDetailsHeight/2}"));
    overflow: hidden;
    text-align: center !important;
    position: relative;

    .success {
        text-decoration: line-through;
    }
    .warning {
        text-decoration: line-through;
    }
    .info {
        font-weight: bold;
    }
    .filters {
        position: absolute;
        top: 0;
        width: 100%;
        background: white;
        .filter-checkbox {
            margin: 0 20px;
        }
    }

    .fa-star {
        color: goldenrod;
    }
    .table-head {
        top: 19px;
    }
    .table-body {
        top: 20px;
        @include calc(height, unquote("100% - 39px"));
    }
}

.roster {
    @include calc(height, unquote("#{$rosterHeight} - #{$playerDetailsHeight}"));
    overflow: hidden;
    position: relative;

    .table-head {
        top: 0;
    }
    .table-body {
        height: 100%;
    }
}


.table-head {
    overflow-y: scroll;
    position: absolute;
    background-color: white;
    table {
        margin-bottom: 0;
    }
}
.table-body {
    position: relative;
    overflow-y: scroll;
    thead {
        visibility: hidden;
    }
}


.twitter-typeahead {
    width: 100%;
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
    line-height: 18px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

